src/main/resources/wsdl/update_status.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nm.cmcc/esb/services/BS_OA_WPG_UnityWaitTaskState" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nm.cmcc/esb/services/BS_OA_WPG_UnityWaitTaskState" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://nm.cmcc/esb/services/BS_OA_WPG_UnityWaitTaskState" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="updateData">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="updateDataResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element> 
 
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateDataResponse">
    <wsdl:part name="parameters" element="tns:updateDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDataRequest">
    <wsdl:part name="parameters" element="tns:updateData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BS_OA_WPG_UnityWaitTaskStatePortType">
    <wsdl:operation name="updateData">
      <wsdl:input name="updateDataRequest" message="tns:updateDataRequest">
    </wsdl:input>
      <wsdl:output name="updateDataResponse" message="tns:updateDataResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BS_OA_WPG_UnityWaitTaskStateHttpBinding" type="tns:BS_OA_WPG_UnityWaitTaskStatePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateData">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateDataRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateDataResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BS_OA_WPG_UnityWaitTaskState">
    <wsdl:port name="BS_OA_WPG_UnityWaitTaskStateHttpPort" binding="tns:BS_OA_WPG_UnityWaitTaskStateHttpBinding">
      <wsdlsoap:address location="http://10.221.138.196:7879/ESB_UnityWaitTask_Appl/services/BS_OA_WPG_UnityWaitTaskState/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>